{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "description": "Retrieve state vectors, flights, and tracks for the whole network, a particular sensor, or a specific aircraft. Rate limits apply for certain API calls, and restrictions vary for anonymous and OpenSky users.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://opensky-network.org"
    }
  ],
  "paths": {
    "/api/states/all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lamax"
        },
        {
          "$ref": "#/components/parameters/lamin"
        },
        {
          "$ref": "#/components/parameters/lomax"
        },
        {
          "$ref": "#/components/parameters/lomin"
        }
      ],
      "get": {
        "summary": "All State Vectors",
        "operationId": "ListAllStateVectors",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrentStates"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CurrentStates": {
        "type": "object",
        "properties": {
          "time": {
            "type": "integer",
            "format": "date-time",
            "example": 1790341107
          },
          "states": {
            "$ref": "#/components/schemas/States"
          }
        },
        "required": [
          "time",
          "states"
        ]
      },
      "State": {
        "type": "array",
        "prefixItems": [
          {
            "description": "Unique ICAO 24-bit address of the transponder in hex string representation.",
            "type": "string",
            "example": "39de4f",
            "x-go-name": "ICAO24"
          },
          {
            "description": "Callsign of the vehicle (8 chars). Can be null if no callsign has been received.",
            "type": "string",
            "example": "TVF42VD ",
            "x-go-name": "Callsign"
          },
          {
            "description": "Country name inferred from the ICAO 24-bit address.",
            "type": "string",
            "example": "France",
            "x-go-name": "OriginCountry"
          },
          {
            "description": "Unix timestamp (seconds) for the last position update. Can be null if no position report was received by OpenSky within the past 15s.",
            "type": "integer",
            "format": "date-time",
            "example": 1790341107,
            "x-go-name": "TimePosition"
          },
          {
            "type": "integer",
            "example": 1790341107
          },
          {
            "type": "number",
            "format": "double",
            "example": 2.3604
          },
          {
            "type": "number",
            "format": "double",
            "example": 48.7239
          },
          {
            "type": "number",
            "format": "double",
            "example": 792.48
          },
          {
            "type": "boolean"
          },
          {
            "type": "number",
            "format": "double",
            "example": 3.09
          },
          {
            "type": "number",
            "format": "double",
            "example": 255.94
          },
          {
            "type": "number",
            "format": "double",
            "example": 3.9
          },
          {
            "type": "object",
            "example": null
          },
          {
            "type": "number",
            "format": "double",
            "example": 868.68
          },
          {
            "type": "string",
            "example": "1000"
          },
          {
            "type": "boolean"
          },
          {
            "type": "integer",
            "example": 0
          }
        ]
      },
      "States": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/State"
        }
      }
    },
    "responses": {
      "CurrentStates": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CurrentStates"
            }
          }
        }
      }
    },
    "parameters": {
      "lamax": {
        "name": "lamax",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "47.8229"
        }
      },
      "lamin": {
        "name": "lamin",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "45.8389"
        }
      },
      "lomax": {
        "name": "lomax",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "10.5226"
        }
      },
      "lomin": {
        "name": "lomin",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "5.9962"
        }
      }
    }
  },
  "externalDocs": {
    "description": "API documentation",
    "url": "https://openskynetwork.github.io/opensky-api/rest.html"
  }
}