{
  "openapi": "3.1.0",
  "info": {
    "title": "API",
    "description": "Retrieve state vectors, flights, and tracks for the whole network, a particular sensor, or a specific aircraft. Rate limits apply for certain API calls, and restrictions vary for anonymous and OpenSky users.",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://opensky-network.org"
    }
  ],
  "paths": {
    "/api/states/all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lamax"
        },
        {
          "$ref": "#/components/parameters/lamin"
        },
        {
          "$ref": "#/components/parameters/lomax"
        },
        {
          "$ref": "#/components/parameters/lomin"
        }
      ],
      "get": {
        "summary": "All State Vectors",
        "operationId": "ListAllStateVectors",
        "responses": {
          "200": {
            "$ref": "#/components/responses/CurrentStates"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CurrentStates": {
        "type": "object",
        "properties": {
          "time": {
            "description": "The time which the state vectors in this response are associated with. All vectors represent the state of a vehicle with the interval [𝑡⁢𝑖⁢𝑚⁢𝑒 −1,𝑡⁢𝑖⁢𝑚⁢𝑒]",
            "type": "integer",
            "format": "date-time",
            "example": 1790341107
          },
          "states": {
            "$ref": "#/components/schemas/States",
            "description": "The state vectors."
          }
        },
        "required": [
          "time",
          "states"
        ]
      },
      "PositionSource": {
        "description": "Origin of a state’s position.",
        "type": "integer",
        "enum": [
          0,
          1,
          2,
          3
        ],
        "example": 0,
        "x-go-name": "PositionSource",
        "x-enumNames": [
          "ADSB",
          "ASTERIX",
          "MLAT",
          "FLARM"
        ]
      },
      "State": {
        "type": "array",
        "prefixItems": [
          {
            "description": "Unique ICAO 24-bit address of the transponder in hex string representation.",
            "type": "string",
            "example": "39de4f",
            "x-go-name": "ICAO24"
          },
          {
            "description": "Callsign of the vehicle (8 chars). Can be null if no callsign has been received.",
            "type": "string",
            "example": "TVF42VD ",
            "x-go-name": "Callsign"
          },
          {
            "description": "Country name inferred from the ICAO 24-bit address.",
            "type": "string",
            "example": "France",
            "x-go-name": "OriginCountry"
          },
          {
            "description": "Unix timestamp (seconds) for the last position update. Can be null if no position report was received by OpenSky within the past 15s.",
            "type": "integer",
            "format": "date-time",
            "example": 1790341107,
            "x-go-name": "TimePosition"
          },
          {
            "description": "Unix timestamp (seconds) for the last update in general. This field is updated for any new, valid message received from the transponder.",
            "type": "integer",
            "format": "date-time",
            "example": 1790341107,
            "x-go-name": "LastContact"
          },
          {
            "description": "WGS-84 longitude in decimal degrees. Can be null.",
            "type": "number",
            "format": "double",
            "example": 2.3604,
            "x-go-name": "Longitude"
          },
          {
            "description": "WGS-84 latitude in decimal degrees. Can be null.",
            "type": "number",
            "format": "double",
            "example": 48.7239,
            "x-go-name": "Latitude"
          },
          {
            "description": "Barometric altitude in meters. Can be null.",
            "type": "number",
            "format": "double",
            "example": 792.48,
            "x-go-name": "BaroAltitude"
          },
          {
            "description": "Boolean value which indicates if the position was retrieved from a surface position report.",
            "type": "boolean",
            "x-go-name": "OnGround"
          },
          {
            "description": "Velocity over ground in m/s. Can be null.",
            "type": "number",
            "format": "double",
            "example": 3.09,
            "x-go-name": "Velocity"
          },
          {
            "description": "True track in decimal degrees clockwise from north (north=0°). Can be null.",
            "type": "number",
            "format": "double",
            "example": 255.94,
            "x-go-name": "TrueTrack"
          },
          {
            "description": "Vertical rate in m/s. A positive value indicates that the airplane is climbing, a negative value indicates that it descends. Can be null.",
            "type": "number",
            "format": "double",
            "example": 3.9,
            "x-go-name": "VerticalRate"
          },
          {
            "description": "IDs of the receivers which contributed to this state vector. Is null if no filtering for sensor was used in the request.",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": null,
            "x-go-name": "Sensors"
          },
          {
            "description": "Geometric altitude in meters. Can be null.",
            "type": "number",
            "format": "double",
            "example": 868.68,
            "x-go-name": "GeoAltitude"
          },
          {
            "description": "The transponder code aka Squawk. Can be null.",
            "type": "string",
            "example": "1000",
            "x-go-name": "Squawk"
          },
          {
            "description": "Whether flight status indicates special purpose indicator.",
            "type": "boolean",
            "x-go-name": "SPI"
          },
          {
            "$ref": "#/components/schemas/PositionSource",
            "description": "Origin of this state’s position."
          }
        ]
      },
      "States": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/State"
        }
      }
    },
    "responses": {
      "CurrentStates": {
        "description": "OK",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CurrentStates"
            }
          }
        }
      }
    },
    "parameters": {
      "lamax": {
        "name": "lamax",
        "in": "query",
        "description": "upper bound for the latitude in decimal degrees",
        "schema": {
          "type": "string",
          "example": "47.8229"
        }
      },
      "lamin": {
        "name": "lamin",
        "in": "query",
        "description": "lower bound for the latitude in decimal degrees",
        "schema": {
          "type": "string",
          "example": "45.8389"
        }
      },
      "lomax": {
        "name": "lomax",
        "in": "query",
        "description": "upper bound for the longitude in decimal degrees",
        "schema": {
          "type": "string",
          "example": "10.5226"
        }
      },
      "lomin": {
        "name": "lomin",
        "in": "query",
        "description": "lower bound for the longitude in decimal degrees",
        "schema": {
          "type": "string",
          "example": "5.9962"
        }
      }
    }
  },
  "externalDocs": {
    "description": "API documentation",
    "url": "https://openskynetwork.github.io/opensky-api/rest.html"
  }
}